.covidLink {
	display: flex;
	justify-content: center;
	background-color: #06c;
	height: 45px;
	align-items: center;
}

.covidLink__link > a {
	color: white;
	text-decoration: none;

	font-size: 14px;
	font-weight: normal;
}

.covidLink__link::after {
	content: ' >';
	color: white;
}
.covidLink__link > a:hover {
	text-decoration: underline;
}
