.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.8);
	height: 48px;
}

.nabvar__content {
	max-width: 980px;
	margin: 0 auto;
	width: 100%;
}
.navbar__lists {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.navbar__lists > li {
	font-size: 14px;
	font-family: 'SF Pro Text', 'Myriad Set Pro', 'SF Pro Icons',
		'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	color: white;
}
