.shopOnline {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45px;
}

.shopOnline__link > h5 {
	font-size: 14px;
	font-weight: normal;
}

.shopOnline__link > h5 > a {
	color: blue;
	text-decoration: none;
}

.shopOnline__link > h5 > a:hover {
	text-decoration: underline;
}
